.aboutContainer {
  padding: 40px;
  color: #333;
  max-width: 800px;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.aboutContainer h1 {
  margin-bottom: 20px;
  color: #041e42;
}

.aboutContainer p {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 15px;
}
